.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    margin: 3em auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input,
.form-container textarea {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
